appdirs==1.4.3
cffi==1.11.0
click==6.7
cycler==0.10.0
decorator==4.1.2
dicom==0.9.9.post1
easydict==1.7
functools32==3.2.3.post2
matplotlib==2.0.2
networkx==2.0
nibabel==2.1.0
numpy==1.13.1
olefile==0.44
packaging==16.8
pandas==0.20.3
parse==1.8.2
Pillow==4.2.1
pkg-resources==0.0.0
pycparser==2.18
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2017.2
PyWavelets==0.5.2
PyYAML==3.12
ruamel.ordereddict==0.4.13
ruamel.yaml==0.15.34
scikit-image==0.13.0
scipy==0.19.1
SimpleITK==1.0.1
simplejson==3.11.1
six==1.10.0
subprocess32==3.2.7
torch==0.2.0.post3
torchvision==0.1.9
tqdm==4.17.1
